.rkt-align-top {
  vertical-align: top;
}

.rkt-align-middle {
  vertical-align: middle;
}

.rkt-align-bottom {
  vertical-align: bottom;
}

.rkt-align-baseline {
  vertical-align: baseline;
}

.rkt-align-text-top {
  vertical-align: text-top;
}

.rkt-align-text-bottom {
  vertical-align: text-bottom;
}
