a {
  color: $primary;
  cursor: pointer;
}

.rkt-btn {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  letter-spacing: .15px;
  border: 1px solid transparent;
  padding: 6px 12px;
  padding: .7em 1.2em;
  font-size: .9em;
  cursor: pointer;
}

.rkt-btn-rounded {
  border-radius: 50px;
}

.rkt-btn-small {
  padding: .6em .8em;
  font-size: .75em;
}

.rkt-btn-large {
  padding: 1em 1.8em;
  font-size: 1em;
}

.rkt-btn-block {
  display: block;
  width: 100%;
}

.rkt-btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

.rkt-btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  color: $white;
}

.rkt-btn-success {
  background-color: $success;
  border-color: $success;
  color: $white;
}

.rkt-btn-warning {
  background-color: $warning;
  border-color: $warning;
  color: $white;
}

.rkt-btn-danger {
  background-color: $danger;
  border-color: $danger;
  color: $white;
}

.rkt-btn-info {
  background-color: $info;
  border-color: $info;
  color: $white;
}

.rkt-btn-dark {
  background-color: $dark;
  border-color: $dark;
  color: $white;
}

.rkt-btn-light {
  background-color: $light;
  border-color: $light;
  color: darken($light, 10%);
}

.rkt-btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  color: $primary;
}

.rkt-btn-outline-secondary {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;
}

.rkt-btn-outline-success {
  background-color: transparent;
  border-color: $success;
  color: $success;
}

.rkt-btn-outline-warning {
  background-color: transparent;
  border-color: $warning;
  color: $warning;
}

.rkt-btn-outline-danger {
  background-color: transparent;
  border-color: $danger;
  color: $danger;
}

.rkt-btn-outline-info {
  background-color: transparent;
  border-color: $info;
  color: $info;
}

.rkt-btn-outline-dark {
  background-color: transparent;
  border-color: $dark;
  color: $dark;
}

.rkt-btn-outline-light {
  background-color: transparent;
  border-color: $light;
  color: darken($light, 10%);
}
