.rkt-text-primary {
  color: $primary;
}

.rkt-text-secondary {
  color: $secondary;
}

.rkt-text-success {
  color: $success;
}

.rkt-text-warning {
  color: $warning;
}

.rkt-text-danger {
  color: $danger;
}

.rkt-text-info {
  color: $info;
}

.rkt-text-dark {
  color: $dark;
}

.rkt-text-muted {
  color: lighten($dark, 40%);
}

.rkt-text-light {
  color: $light;
}

.rkt-text-white {
  color: $white;
}

.rkt-text-black {
  color: $black;
}

.rkt-bg-primary {
  background-color: $primary;
}

.rkt-bg-secondary {
  background-color: $secondary;
}

.rkt-bg-success {
  background-color: $success;
}

.rkt-bg-warning {
  background-color: $warning;
}

.rkt-bg-danger {
  background-color: $danger;
}

.rkt-bg-info {
  background-color: $info;
}

.rkt-bg-dark {
  background-color: $dark;
}

.rkt-bg-light {
  background-color: $light;
}

.rkt-bg-white {
  background-color: $white;
}

.rkt-bg-black {
  background-color: $black;
}
