.rkt-container {
  max-width: $container-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rkt-container-fluid {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rkt-row {
  display: flex;
  flex-wrap: wrap;
}

.rkt-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: .75rem;
}

.rkt-col-is-one-quarter {
  flex: none;
  width: 25%;
}

.rkt-col-is-half {
  flex: none;
  width: 50%;
}

.rkt-col-is-three-quarters {
  flex: none;
  width: 75%;
}
