.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .9375rem;
}

.navbar-light {
  background-color: $light;
}

.navbar-dark {
  background-color: $dark;
}

.navbar-primary {
  background-color: $primary;
}

.navbar-toggle {
  display: none;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    background-color: darken($light, 5%);
  }
}

.navbar-toggle-bar {
  position: absolute;
  display: inline-block;
  top: .875rem;
  left: .75rem;
  height: .0625rem;
  width: 1rem;
  background-color: $dark;
  &:nth-child(2) {
    top: 1.1875rem;
  }
  &:nth-child(3) {
    top: 1.5rem;
  }
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1.1em;
  font-size: 1.2em;
  letter-spacing: .006rem;
}

.nav-link {
  padding: .5em .7em;
  font-size: .85em;
  letter-spacing: .006rem;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.nav-link-active {
  opacity: 1;
}
