@media (max-width: $widescreen) {

  .rkt-marginless-widescreen {
    margin: 0;
  }

  .rkt-paddingless-widescreen {
    padding: 0;
  }

  .rkt-row.rkt-is-widescreen,
  .rkt-is-widescreen {
    display: block;
    width: 100%;
  }

  .rkt-col-is-one-quarter-widescreen {
    flex: none;
    width: 25%;
  }

  .rkt-col-is-half-widescreen {
    flex: none;
    width: 50%;
  }

  .rkt-col-is-is-three-quarters-widescreen {
    flex: none;
    width: 75%;
  }

  .rkt-d-flex-widescreen {
    display: flex;
  }

  .rkt-flex-row-widescreen {
    flex-direction: row;
  }

  .rkt-flex-column-widescreen {
    flex-direction: column;
  }

  .rkt-flex-fill-widescreen {
    flex: 1 1 auto;
  }

  .rkt-d-none-widescreen {
    display: none;
  }

  .rkt-d-block-widescreen {
    display: block;
  }

  .rkt-d-inline-block-widescreen {
    display: inline-block;
  }

}

@media (max-width: $desktop) {

  .rkt-marginless-desktop {
    margin: 0;
  }

  .rkt-paddingless-desktop {
    padding: 0;
  }

  .rkt-row.rkt-is-desktop,
  .rkt-is-desktop {
    display: block;
    width: 100%;
  }

  .rkt-col-is-one-quarter-desktop {
    flex: none;
    width: 25%;
  }

  .rkt-col-is-half-desktop {
    flex: none;
    width: 50%;
  }

  .rkt-col-is-three-quarters-desktop {
    flex: none;
    width: 75%;
  }

  .rkt-d-flex-desktop {
    display: flex;
  }

  .rkt-flex-row-desktop {
    flex-direction: row;
  }

  .rkt-flex-column-desktop {
    flex-direction: column;
  }

  .rkt-flex-fill-desktop {
    flex: 1 1 auto;
  }

  .rkt-d-none-desktop {
    display: none;
  }

  .rkt-d-block-desktop {
    display: block;
  }

  .rkt-d-inline-block-desktop {
    display: inline-block;
  }

}

@media (max-width: $tablet) {

  .rkt-marginless-tablet {
    margin: 0;
  }

  .rkt-paddingless-tablet {
    padding: 0;
  }

  .rkt-row.rkt-is-tablet,
  .rkt-is-tablet {
    display: block;
    width: 100%;
  }

  .rkt-col-is-one-quarter-tablet {
    flex: none;
    width: 25%;
  }

  .rkt-col-is-half-tablet {
    flex: none;
    width: 50%;
  }

  .rkt-col-is-three-quarters-tablet {
    flex: none;
    width: 75%;
  }

  .rkt-d-flex-tablet {
    display: flex;
  }

  .rkt-flex-row-tablet {
    flex-direction: row;
  }

  .rkt-flex-column-tablet {
    flex-direction: column;
  }

  .rkt-flex-fill-tablet {
    flex: 1 1 auto;
  }

  .rkt-d-none-tablet {
    display: none;
  }

  .rkt-d-block-tablet {
    display: block;
  }

  .rkt-d-inline-block-tablet {
    display: inline-block;
  }

}

@media (max-width: $mobile) {

  .rkt-marginless-mobile {
    margin: 0;
  }

  .rkt-paddingless-mobile {
    padding: 0;
  }

  .rkt-row.rkt-is-mobile,
  .rkt-is-mobile {
    display: block;
    width: 100%;
  }

  .rkt-col-is-one-quarter-mobile {
    flex: none;
    width: 25%;
  }

  .rkt-col-is-half-mobile {
    flex: none;
    width: 50%;
  }

  .rkt-col-is-three-quarters-mobile {
    flex: none;
    width: 75%;
  }

  .rkt-d-flex-mobile {
    display: flex;
  }

  .rkt-flex-row-mobile {
    flex-direction: row;
  }

  .rkt-flex-column-mobile {
    flex-direction: column;
  }

  .rkt-flex-fill-mobile {
    flex: 1 1 auto;
  }

  .rkt-d-none-mobile {
    display: none;
  }

  .rkt-d-block-mobile {
    display: block;
  }

  .rkt-d-inline-block-mobile {
    display: inline-block;
  }

}
