@media (max-width: $widescreen) {

  .marginless-widescreen {
    margin: 0;
  }

  .paddingless-widescreen {
    padding: 0;
  }

  .row.is-widescreen {
    display: block;
    width: 100%;
    .col {
      display: block;
      width: 100%;
    }
  }

  .is-widescreen {
    display: block;
    width: 100%;
  }

  .col-is-one-quarter-widescreen {
    flex: none;
    width: 25%;
  }

  .col-is-half-widescreen {
    flex: none;
    width: 50%;
  }

  .col-is-is-three-quarters-widescreen {
    flex: none;
    width: 75%;
  }

  .d-flex-widescreen {
    display: flex;
  }

  .flex-row-widescreen {
    flex-direction: row;
  }

  .flex-column-widescreen {
    flex-direction: column;
  }

  .flex-fill-widescreen {
    flex: 1 1 auto;
  }

  .d-none-widescreen {
    display: none;
  }

  .d-block-widescreen {
    display: block;
  }

  .d-inline-block-widescreen {
    display: inline-block;
  }

}

@media (max-width: $desktop) {

  .marginless-desktop {
    margin: 0;
  }

  .paddingless-desktop {
    padding: 0;
  }

  .row.is-desktop {
    display: block;
    width: 100%;
    .col {
      display: block;
      width: 100%;
    }
  }

  .is-desktop {
    display: block;
    width: 100%;
  }

  .col-is-one-quarter-desktop {
    flex: none;
    width: 25%;
  }

  .col-is-half-desktop {
    flex: none;
    width: 50%;
  }

  .col-is-three-quarters-desktop {
    flex: none;
    width: 75%;
  }

  .d-flex-desktop {
    display: flex;
  }

  .flex-row-desktop {
    flex-direction: row;
  }

  .flex-column-desktop {
    flex-direction: column;
  }

  .flex-fill-desktop {
    flex: 1 1 auto;
  }

  .d-none-desktop {
    display: none;
  }

  .d-block-desktop {
    display: block;
  }

  .d-inline-block-desktop {
    display: inline-block;
  }

}

@media (max-width: $tablet) {

  .marginless-tablet {
    margin: 0;
  }

  .paddingless-tablet {
    padding: 0;
  }

  .row.is-tablet {
    display: block;
    width: 100%;
    .col {
      display: block;
      width: 100%;
    }
  }

  .is-tablet {
    display: block;
    width: 100%;
  }

  .col-is-one-quarter-tablet {
    flex: none;
    width: 25%;
  }

  .col-is-half-tablet {
    flex: none;
    width: 50%;
  }

  .col-is-three-quarters-tablet {
    flex: none;
    width: 75%;
  }

  .d-flex-tablet {
    display: flex;
  }

  .flex-row-tablet {
    flex-direction: row;
  }

  .flex-column-tablet {
    flex-direction: column;
  }

  .flex-fill-tablet {
    flex: 1 1 auto;
  }

  .d-none-tablet {
    display: none;
  }

  .d-block-tablet {
    display: block;
  }

  .d-inline-block-tablet {
    display: inline-block;
  }

}

@media (max-width: $mobile) {

  .marginless-mobile {
    margin: 0;
  }

  .paddingless-mobile {
    padding: 0;
  }

  .row.is-mobile {
    display: block;
    width: 100%;
    .col {
      display: block;
      width: 100%;
    }
  }

  .is-mobile {
    display: block;
    width: 100%;
  }

  .col-is-one-quarter-mobile {
    flex: none;
    width: 25%;
  }

  .col-is-half-mobile {
    flex: none;
    width: 50%;
  }

  .col-is-three-quarters-mobile {
    flex: none;
    width: 75%;
  }

  .d-flex-mobile {
    display: flex;
  }

  .flex-row-mobile {
    flex-direction: row;
  }

  .flex-column-mobile {
    flex-direction: column;
  }

  .flex-fill-mobile {
    flex: 1 1 auto;
  }

  .d-none-mobile {
    display: none;
  }

  .d-block-mobile {
    display: block;
  }

  .d-inline-block-mobile {
    display: inline-block;
  }

}
