p,
.list li {
  line-height: 1.75em;
  font-size: 1em;
  margin-top: .3125rem;
  margin-bottom: .9375rem;
  color: $dark;
}

.lead {
  font-size: 1.1em;
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  line-height: 1.45em;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-normal {
  font-weight: $font-weight-normal;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
