.rkt-visibility-hide {
  visibility: hidden;
}

.rkt-visibility-show {
  visibility: visible;
}

.rkt-hide {
  display: none;
}

.rkt-visibility-show {
  display: inline-block;
}

code {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}
