.rkt-paddingless {
  padding: 0 !important
}

.rkt-marginless {
  margin: 0 !important
}

.rkt-m-auto {
  margin: auto !important;
}

.rkt-ml-auto {
  margin-left: auto !important;
}

.rkt-mr-auto {
  margin-right: auto !important;
}

.rkt-text-center {
  text-align: center !important;
}

.rkt-text-left {
  text-align: left !important;
}

.rkt-text-right {
  text-align: right !important;
}

.rkt-visibility-hide {
  visibility: hidden !important;
}

.rkt-visibility-show {
  visibility: visible !important;
}

.rkt-hide {
  display: none !important;
}

.rkt-visibility-show {
  display: inline-block !important;
}
