// Colour
$primary:             #2196F3 !default;
$secondary:           #607D8B !default;
$dark:                #555555 !default;
$light:               #efefef !default;
$success:             #4CAF50 !default;
$warning:             #FFC107 !default;
$danger:              #F44336 !default;
$info:                #2196F3 !default;
$white:               #ffffff !default;
$black:               #000000 !default;

// Grid
$container-width:     1140px !default;

// Font
$font-weight-light:   100 !default;
$font-weight-normal:  400 !default;
$font-weight-bold:    700 !default;

// Spacing
$default-spacing:     .5em !default;
