[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.rocket-icon {
  width: 24px;
  height: 24px;
}

.rocket-brand {
  max-width: 200px;
}

.feature-icon {
  max-width: 80px;
  width: 100%;
}

.docs-hero {
  .col {
    padding-left: .5em;
    padding-right: .5em;
  }
}

.section-title {
  .section-anchor {
    display: none;
    padding-left: .625rem;
    padding-right: .625rem;
    font-weight: 200;
    opacity: .8;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    .section-anchor {
      display: inline-block;
    }
  }
}

.footer-links {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.docnav-item {
  ul {
    list-style-type: none;
    li {
      a {
        font-size: .85rem;
      }
    }
  }
}

.docs-item {
  opacity: .75;
  &:hover {
    opacity: 1;
  }
}

.docs-item-active {
  opacity: 1;
  ul {
    display: block;
  }
}

.docs-nav-sidebar {
  background-color: #fbfbfb;
}

.nav-icon-btn {
  width: 2.375rem;
  padding-left: .3125rem;
  padding-right: .3125rem;
  border-color: transparent;
  &:hover, &:focus {
    border-color: transparent;
  }
}

@media (max-width: 992px) {

  .highlight-code {
    pre {
      overflow-x: auto;
    }
  }

}

@media (max-width: 576px) {

  .home-buttons {
    .btn-primary {
      margin-bottom: .5rem;
    }
  }

  .page-hero {
    .hero-body {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .home-guide {
    padding-top: .5rem;
    padding-bottom: 0;
  }

}
