.rocket-icon {
  width: 24px;
  height: 24px;
}

.rocket-brand {
  max-width: 200px;
}

.rkt-footer-links {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.rkt-docnav-item {
  ul {
    list-style-type: none;
    li {
      a {
        font-size: .85em;
      }
    }
  }
}

.rkt-docs-item {
  opacity: .75;
  &:hover {
    opacity: 1;
  }
}

.rkt-docs-item-active {
  opacity: 1;
  ul {
    display: block;
  }
}

.rkt-docs-nav-sidebar {
  background-color: #fbfbfb;
}

@media (max-width: 576px) {

  .rkt-home-buttons {
    .rkt-btn-primary {
      margin-bottom: .5em;
    }
  }

  .rkt-page-hero {
    .rkt-hero-body {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  .rkt-home-guide {
    padding-top: .5em;
    padding-bottom: 0;
  }

}
